@font-face {
    font-family: 'Virgil';
    src: url('https://raw.githubusercontent.com/mayssemhannachi/Songs_Analysis_Streamlit/main/Virgil.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html, body, [class*="css"] {
    font-family: 'Virgil', sans-serif; /* Use your custom font */
}

h1, h2, h3 ,p, div ,button {
    font-family: 'Virgil', sans-serif; /* Test heading */
}



.centered-text{
    display: flex;
    justify-content: center; /* Centers the title horizontally */
    align-items: center; /* Centers the title vertically */
}

.centered-text h3{
    display: flex;
    justify-content: center; /* Centers the title horizontally */
    align-items: center; /* Centers the title vertically */
    margin-top: -15px;
}

#rectangle {
    background:#f8f9fa;
    padding:0.5rem 0.5rem;
    margin:0 0.5rem;
    font-size:1rem;

    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    border-bottom-right-radius: 225px 15px;
    border-bottom-left-radius:15px 255px;

    pointer-events: none;
}

button.lined.thick{
    border:solid 5px #41403E;
 }


 .button-container {
    display: flex;
    justify-content: center;
    gap: 20px; /* Adjust the gap between buttons */
}
.button-container button {
    background: transparent;
    padding: 0.5rem 0.5rem;
    margin: 0 0.5rem;
    font-size: 1rem;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    border-bottom-right-radius: 225px 15px;
    border-bottom-left-radius: 15px 255px;
    pointer-events: none; /* Make the button unclickable */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.button-container img {
    width: 50px; /* Adjust the size of the image */
    height: 50px; /* Adjust the size of the image */
    margin-bottom: 10px; /* Adjust the space between image and text */
}